{% extends 'quiz/base.html' %}

{% block title %}Авторизация{% endblock title %}

{% block content %}
<main class="form-signin w-100 m-auto" style="width: 400px">
  <form method="post">
      {% csrf_token %}
    <img class="mb-3" src="https://i.pinimg.com/originals/63/a1/61/63a16117bdaa71d847e4d1fa40925133.png" alt="" width="95" >
    <h1 class="h3 mb-5 fw-normal">Авторизация</h1>

    {% for f in form %}
    <div class="form-floating">
      {{ f }}
      <label for="{{ f.id_for_label }}">{{ f.label }}: </label>
    </div>
    {% endfor %}
    <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© Nikita Lyubimtsev 2022</p>
  </form>
</main>
{% endblock content %}